@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Egypt,<br />
    Menoufia<br />
    <abbr title="Phone">P:</abbr>
    +20 109 599 8652, +20 102 475 0277
</address>

<address>
    <strong>Omar:</strong>   <a href="mailto:Support@example.com">oenegm@gmail.com</a><br />
    <strong>Youssef:</strong> <a href="mailto:Marketing@example.com">ymostafa232@gmail.com</a>
</address>