@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Egypt,<br />
    Menoufia<br />
    <abbr title="Phone">P:</abbr>
    +20 109 599 8652
</address>

<address>
    <strong>Omar:</strong>   <a href="mailto:oenegm@gmail.com">oenegm@gmail.com</a><br />
</address>